@import url("https://fonts.googleapis.com/css2?family=Staatliches:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  --secondary-color: #f0f0f0;
  --tertiary-color: #d87234;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    color: black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Satoshi", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-montserrat {
  font-family: "Integral CF", sans-serif;
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.min-height-screen {
  min-height: 100vh !important;
}

.min-width-screen {
  min-width: 100vw !important;
}

.w-094 {
  width: 94%;
}

.h-50-screen{
  height: 50vh;
}

.w-50-screen{
  height: 50vh;
}

.bg-primary{
  background-color: #F2F0F1;
}